<a href="https://colab.research.google.com/github/arbi11/YCBS-272/blob/master/YCBS_272_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Instructions for Assignment 1



1.   All the submissions should be attempted individually.
1.   Please submit the assignment either on **mycources** or mail directly to arbaaz.khan@mail.mcgill.ca
2.   You have the option of either submitted the python notebook (.ipynb) or in .pdf format
1.   Maximum points associated with this assignment = 15.

# 1 Numpy

## 1.1 Create an *empty* numpy array of size [3, 8]
[1 point]

## 1.2 Check the size and data type of the array
[1 point]

## 1.3 Assign the value of 6 to the element at row= 2 and column = 7
[1 point]

## 1.4 Reshape the array to dimension [8, 3]
Can you think of multiple ways to do this?

[1 point]

# 2. Numpy - Advanced

## 2.1 Create an array of integers ranging from 2 to 10
[1 point]

## 2.2 Slice and Assign 
such that your array substitute all **even** (2, 4, 6 ...) values in the array with 0 (zero).

[1 point]

## 2.3 Find all unique values in the modified array of section 2.2
[1 point]

# 3. Pandas

## 3.1 Create a Series with integers ranging from 5 to 10 with any index of your choice.
[1 point]

## 3.2 Print out all the entries in the Series defined in Section# 3.1 with value less than 7
[1 point]

# 4. Pandas - Advanced

## 4.1 The following is the dataset created in a python *dict*

Convert it into a dataframe

[1 point]

In [0]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'], 'year': [2000, 2001, 2002, 2001, 2002], 'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
data

{'pop': [1.5, 1.7, 3.6, 2.4, 2.9],
 'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
 'year': [2000, 2001, 2002, 2001, 2002]}

## 4.2 Print out the first 3 enties in the dataframe created in Section# 4.1
[1 point]

## 4.3 Sum the population size of all the entries
[1 point]

## 4.4 Remove all the entries with state: 'Nevada'
[1 point]

#5. Difference between 'Bar Chart' and a 'Histogram'

# 6. Advantages of scatter plots?